<section class="w-75 mx-auto my-5">
  <div class="col-xs-12 col-md-12">
    <div *ngIf="isLoading">
     <p class="text-center align-items-center"><app-loading/></p>
    </div>
    <div class="row">
      <div *ngIf="messageError">
        <app-alert [message]="messageError" (close)="onHandleEror()"/>
      </div>
     <form  [formGroup]="form"  (ngSubmit)="onSubmit()">
      <div class="item-group">
        <label for="email">Email</label>
        <input class="form-control"
         type="email"
         id="email"
         formControlName="email">
         <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
          <span *ngIf="form.get('email')?.getError('required')" class="text-danger">
            Email is rquired
          </span>
          <span *ngIf="form.get('email')?.getError('email')" class="text-danger">
            Email is Not correct
          </span>
         </div>
      </div>
      <div class="item-group">
        <label for="password">password</label>
        <input
         class="form-control"
         type="password"
         id="password"
         formControlName="password" >
         <div *ngIf="form.get('password')?.errors && form.get('password')?.touched" >
           <span class="text-danger" *ngIf="form.get('password')?.getError('required')">
            this password is required
           </span>
           <span class="text-danger" *ngIf="form.get('password')?.getError('minlength')">
            Must be 6 char minimum
           </span>
           <span class="text-danger" *ngIf="form.get('password')?.getError('maxlength')">
            Must be 10 characters maximum
           </span>
         </div>
      </div>
       <div class="my-2 d-flex justify-content-between">
        <button type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid"
        >Sign Up</button>
        <button class="register-btn" type="button"> <a (click)="loginPage()"><span>
          <img width="20" src="./assets/arrow-small-left.svg" alt="arrow-left">
        </span> Back To Login</a></button>
       </div>


     </form>

    </div>
  </div>
</section>
